<h1>投稿一覧</h1>

 <%= form_with url: users_posts_search_path, local: true, method: :get do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
 <% end %>
<div>
  <%= notice %>
</div>
<tr>
<th>投稿内容</th>
<th>投稿画像</th>
<th>投稿者</th>
</tr>
<% @posts.each do |post| %>

<div>
<%= post.introduction %>
<%= link_to users_post_path(post) do %>
    <%= image_tag post.get_image(100,100) %>
<% end %>
<%= link_to post.user.name, users_user_path(post.user) %>
<% if signed_in? && current_user.id == post.user_id %>
<%= link_to '削除', users_post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
</div>

<% end %>
