<%= render 'admin/users/user_detail', user: @user, posts: @posts %>
<div>
  <p>コメント件数：<%= current_user.comments.count %></p>
  <% current_user.comments.each do |comment| %>
    <p><%#= comment.post.user.name %></p>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>