<h1>user_info</h1>
<% if @user.profile_image.attached? %>
<%= image_tag @user.profile_image %>
<% end %>
<p>name   <%= @user.name %></p>
<th>Followers</th>
      <td>
        <%= link_to followers_users_user_path(@user) do %>
          <h6><%= @user.followers.count %></h6>
        <% end %>
      </td>
      </tr>
      <tr>
        <th>Follows</th>
        <td>
           <%= link_to follows_users_user_path(@user) do %>
            <h6><%= @user.followeds.count %></h6>
                 <% end %>
        </td>
      </tr>
      <tr>
      <td>
      <% if current_user != @user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", users_user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "フォローする", users_user_relationships_path(@user.id), method: :post, class:"btn btn-success" %>
          <% end %>
        <% end %>
      </td>
     <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_users_user_path(@user) %></p>
  <% end %>

<% @posts.each do |post| %>

<table>
 <tr>
   <th>投稿画像</th>
   <th>投稿者</th>
   <th>投稿内容</th>
   <th></th>
 </tr>

 <tr>
    <td>
      <%= link_to users_post_path(post) do %>
        <%= image_tag post.get_image(100, 100) %>
      <% end %>
    </td>
    <td><%= link_to post.user.name, users_user_path(post.user) %></td>
    <td><%= post.introduction %></td>
    <td>
      <% if post.user == current_user %>
      <%= link_to '削除', users_post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      <% end %>
 </tr>
</table>
<% end %>