<!DOCTYPE html>
<html>
  <head>
    <title>Australia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "退会する", users_path(current_user.id), method: :get %>
        <%#= link_to "編集する", edit_users_user_path(current_user.id), method: :get %>
        <%= link_to "投稿一覧", users_posts_path, method: :get %>
        <%= link_to "新規投稿", new_users_post_path, method: :get %>
        <%= link_to "マイページ", users_user_path(current_user.id), method: :get %>

      <%= form_with url: users_posts_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword %>
      <%= select_tag 'model', options_for_select({ "User" => "user", "Post" => "post" }) %>
      <%= select_tag 'method', options_for_select({ "完全一致" => "perfect", "部分一致" => "partial" }) %>
      <%= f.submit "検索" %>
      <% end %>

      </li>
    <% else %>

      <% if admin_signed_in? %>
        <li>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          <%= link_to 'ユーザー一覧',admin_users_index_path, method: :get %>

        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
